.navbar-nav{
    color: white;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
    margin: 20px;
}

footer{
    background-color: rgb(54, 52, 52);
    color: white;
    padding: 30px;
    margin-top:40px
}

.learazas{
    color: green;
}